.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
}
.buttons {
    background-color: gray;
    width: 100px;
    height: 100px;
    font-size: 20px;
}
