.view-window {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
    font-size: 300%;
    color: black;
    background-color: gray;
    height: 16.6%;
}
